@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


main {
  flex: 1;
}

h1 {
  cursor: pointer;
}

img {
  width: 33px;
}

.Category {
  cursor: pointer;
}

#logowanie {
  min-height: 100vh;
  padding-top: 150px;
}

#addProduct {
  min-height: 100vh;
  padding-top: 100px;
}

#dashboard {
  min-height: 100vh;
  padding-top: 70px;
}

#produkt {
  min-height: 100vh;
  padding-top: 60px;
}

#Koszyk {
  min-height: 100vh;
  padding-top: 150px;
}

.DeleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

#Koszyk h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#Koszyk .table {
  margin-top: 20px;
}

#Koszyk .text-end h4 {
  font-size: 1.5rem;
  margin-top: 20px;
}
